section {
    padding: 20px;
  }
  
  .announcement-top-bar {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
    height: 60px;
    overflow-y: auto;
  }
  
  .announcement-top-bar p {
    margin: 0;
  }
 
  .announcement-top-bar.alert-dismissible .close {
    top: 50%;
    transform: translateY(-55%);
  }

/* export default admin_dashboard_css; */